@-webkit-keyframes evilicon-spinner {
  100% {
    -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
  }
}

@keyframes evilicon-spinner {
  100% {
    -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
  }
}


[data-icon] {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  fill: currentColor;

  &.icon-sm {
    width: 50px;
    height: 50px;
  }

  &.icon-sl {
    width: 100px;
    height: 100px;
  }

  &.icon--xl {
    width: 150px;
    height: 150px;
  }

  &.icon--xxl {
    width: 200px;
    height: 200px;
  }

  &.icon--spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-animation: evilicon-spinner 1s steps(12) infinite;
            animation: evilicon-spinner 1s steps(12) infinite;
  }

  .icon__cnt {
    width: 100%;
    height: 100%;
    background: inherit;
    fill: inherit;
    transform: translateX(0); /* Crisp fix for non-retina */
    -ms-transform: translate(0.5px, -0.3px); /* Crisp fix for IE */
  }

}
