@-webkit-keyframes purpur-spinner {
  100% {
    -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
  }
}

@keyframes purpur-spinner {
  100% {
    -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
  }
}


[data-icon] {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  fill: currentColor;
  vertical-align: middle;

  &[data-icon-size=xsm] {
    width: .5em;
    height: .5em;
  }

  &[data-icon-size=sm] {
    width: .8em;
    height: .8em;
  }

  &[data-icon-size=m] {
    width: 1em;
    height: 1em;
  }

  &[data-icon-size=lg] {
    width: 1.2em;
    height: 1.2em;
  }

  &[data-icon-size=xl] {
    width: 1.8em;
    height: 1.8em;
  }

  &[data-icon-size=xxl] {
    width: 2.4em;
    height: 2.4em;
  }

  &.spinner {
    .icon--wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      -webkit-animation: purpur-spinner 1s steps(12) infinite;
              animation: purpur-spinner 1s steps(12) infinite;
    }
  }

  .icon--cnt {
    width: 100%;
    height: 100%;
    margin-left: 1px;
    background: inherit;
    fill: inherit;
    position: absolute;
    transform: translateX(0); /* Crisp fix for non-retina */
    -ms-transform: translate(0.5px, -0.3px); /* Crisp fix for IE */
  }

}
